
@tailwind base;
@tailwind components;
@tailwind utilities;



  @layer base {
    :root {
      --background: 0 0% 98%; /*alabaster*/
      --foreground: 218 23% 21%;  /*tuna-500*/


      --card: 0 0% 96%;  /*iron-500*/
      --card-foreground: 218 23% 21%;  /*tuna-500*/

      --popover: 184, 43%, 93%;  /*ice-300*/
      --popover-foreground: 212, 12%, 46%;  /*palesky-500*/

      --primary: 0 0% 98%;  /*alabaster*/
      --primary-foreground: 218 23% 21%;   /*tuna-500*/

      --secondary: 220 6% 90%; /*iron-400*/
      --secondary-foreground: 221, 35%, 14%;  /*tuna-700*/

      --accent: 184, 44%, 85%; /*ice*/
      --accent-foreground: 212, 12%, 46%; /*palesky-500*/

      --destructive: 11 83% 62%; /*persimmon*/
      --destructive-foreground: 218 23% 21%;  /*tuna-500*/

      --muted: 0, 13%, 95%; /*stone-100*/

      --border: 220 6% 90%; /*iron-400*/

      --input: 192 2% 95%;
      --ring: 222 84% 5%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 0 0% 98%; /*alabaster*/
      --foreground: 218 23% 21%;  /*tuna-500*/
      --transparent: 0 0% 0%; /*    */

      --card: 0 0% 96%;  /*iron-500*/
      --card-foreground: 218 23% 21%;  /*tuna-500*/

      --popover: 184, 43%, 93%;  /*ice-300*/
      --popover-foreground: 212, 12%, 46%;  /*palesky-500*/

      --primary: 0 0% 98%;  /*alabaster*/
      --primary-foreground: 218 23% 21%;   /*tuna-500*/

      --secondary: 220 6% 90%; /*iron-400*/
      --secondary-foreground: 221, 35%, 14%;  /*tuna-700*/

      --accent: 184, 44%, 85%; /*ice*/
      --accent-foreground: 212, 12%, 46%; /*palesky-500*/

      --destructive: 11 83% 62%; /*persimmon*/
      --destructive-foreground: 218 23% 21%;  /*tuna-500*/

      --muted: 212, 18%, 82%; /*slate-300*/

      --border: 220 6% 90%; /*iron-400*/

      --input: 192 2% 95%;
      --ring: 222 84% 5%;

      --radius: 0.5rem;
    }
  }

  @layer base {
    * {
      @apply border-primary;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


.clip-left-60 {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
}

.clip-right-60 {
  clip-path: polygon(100% 0, 100% 100%, 50% 100%);
}
